@import './global.css';

:root {
    --input-width: 15rem;
}

body {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100vh;
    place-items: center;
}

.container {
    display: grid;
    place-items: center;
    gap: 1rem;
}

form {
    display: grid;
    place-items: center;
    font-size: var(--font-size-form);
    padding: 3.5rem 2rem 1.5rem;
    gap: 1.5rem;
    border-radius: 1rem;
    background-color: var(--color-light-grey);
    position: relative;
}

fieldset {
    border: none;
    display: grid;
    padding: 2.5rem 1rem 1rem;
    gap: 2.5rem;
}

fieldset>div {
    display: flex;
}

label {
    display: inline-block;
    width: 7rem;
}

input {
    height: 1.8rem;
    width: var(--input-width);
    font-size: var(--font-size-form);
}

button {
    height: 3rem;
    width: 10rem;
    color: white;
    font-size: var(--font-size-popup);
    border: none;
    border-radius: 0.8rem;
    background-color: var(--color-blue);
    transition: background-color 0.3s, font-size 0.3s;
}

button:hover {
    cursor: pointer;
    font-size: calc(0.95*var(--font-size-popup));
    background-color: var(--color-light-blue);
}

.switch {
    font-size: var(--font-size-form);
}

.hint {
    position: absolute;
    width: var(--input-width);
    font-size: 0.8rem;
    color: red;
}

a {
    color: blue;
}

a:visited {
    color: blue;
}

a:hover {
    color: darkblue;
}